spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none

  flyway:
    enabled: true
    locations: classpath:db/migration

app:
  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS}

  admin-seed:
    enabled: ${ADMIN_SEED_ENABLED:false}
